[submodule "submodules/coq-ext-lib"]
	path = submodules/coq-ext-lib
	url = https://github.com/mattam82/coq-ext-lib.git
	branch = fix-8.11
[submodule "submodules/Equations"]
	path = submodules/Equations
	url = http://github.com/mattam82/Coq-Equations
[submodule "submodules/metacoq"]
	path = submodules/metacoq
	url = https://github.com/MetaCoq/metacoq.git
