*.vo
*.vok
*.vos
*.v.d
*.glob
*.aux
*.out
*.html
*.cache
*.cm*
*.o
*.a
*.ml*.d
*.vok
*.vos
Makefile.coq
/libraries/Makefile
/theories/Makefile
/theories/Makefile.plugin
/theories/Extraction/*.ml
/theories/Extraction/*.mli
/theories/ExtractionVanilla/*.ml
/theories/ExtractionVanilla/*.mli
/theories/*.ml
/theories/*.mli
.coqdeps.d
.DS_Store
*.bak
Makefile.conf
Makefile.plugin.conf
/plugin/Makefile
/plugin/extraction
/cplugin/extraction
/cplugin/Makefile
theories/.coqdeps.d
libraries/.coqdeps.d
myMain.ml
myMain.mli
vs.ml
vs.mli
test_plugin.*.c
test_plugin.*.h
theories/.Makefile.d
libraries/.Makefile.d
plugin/.Makefile.d
plugin/g_certirocq.ml
cplugin/g_certirocq_vanilla.ml
bootstrap/certirocq_pipeline/g_certirocqc.ml
bootstrap/certirocqc/CertiRocq.CertiRocqC.compile.certirocqc.c
bootstrap/certirocqc/CertiRocq.CertiRocqC.compile.certirocqc.h
bootstrap/certirocqc/glue.CertiRocq.CertiRocqC.compile.certirocqc.c
bootstrap/certirocqc/glue.CertiRocq.CertiRocqC.compile.certirocqc.h
bootstrap/certirocqc/g_certirocqc.ml
bootstrap/certirocqchk/CertiRocq.CertiRocqCheck.compile.certirocqchk.c
bootstrap/certirocqchk/CertiRocq.CertiRocqCheck.compile.certirocqchk.h
bootstrap/certirocqchk/glue.CertiRocq.CertiRocqCheck.compile.certirocqchk.c
bootstrap/certirocqchk/glue.CertiRocq.CertiRocqCheck.compile.certirocqchk.h
bootstrap/certirocqchk/g_certirocqchk.ml
bootstrap/Makefile
bootstrap/certirocqc/tests/CertiRocq.CertiRocqC.compile.certirocqc.c
bootstrap/certirocqc/tests/CertiRocq.CertiRocqC.compile.certirocqc.h
bootstrap/certirocqc/tests/glue.CertiRocq.CertiRocqC.compile.certirocqc.c
bootstrap/certirocqc/tests/glue.CertiRocq.CertiRocqC.compile.certirocqc.h
compile.certirocqchk.ir
bootstrap/certirocqc/.Makefile.certirocqc.d
bootstrap/certirocqc/Makefile.certirocqc
bootstrap/certirocqc/Makefile.certirocqc.conf
bootstrap/certirocqc/tests/test.certirocqc*
cplugin/.Makefile.d
tests/glue.test.certirocqc.c
tests/glue.test.certirocqc.h
tests/test.certirocqc.c
tests/test.certirocqc.h
bootstrap/certirocqc/tests/glue.test.certirocqc.c
bootstrap/certirocqc/tests/glue.test.certirocqc.h
bootstrap/certirocqchk/.Makefile.certirocqchk.d
bootstrap/certirocqchk/Makefile.certirocqchk
bootstrap/certirocqchk/Makefile.certirocqchk.conf
cplugin/META
plugin/META
_opam
bootstrap/certirocqc/META
bootstrap/certirocqchk/META
plugin/.merlin
_build
.vscode/CertiRocq.code-workspace
bootstrap/certirocqc/CertiRocq.CertiRocqC.CertiRocqC.certirocqc.c
bootstrap/certirocqc/CertiRocq.CertiRocqC.CertiRocqC.certirocqc.h
bootstrap/certirocqc/tests/test.demo1.c
bootstrap/certirocqc/tests/test.demo1.h
plugin/.filestoinstall
cplugin/.merlin
result
/tests/metarocq_erasure/CertiRocq.Tests.metarocq_erasure.metarocq_erasure.metarocq_erasure.c
/tests/metarocq_erasure/CertiRocq.Tests.metarocq_erasure.metarocq_erasure.metarocq_erasure.h
/tests/metarocq_erasure/Makefile
/tests/ffi/Makefile
/tests/ffi/.Makefile.d
/tests/lib/.Makefile.d
/tests/axioms/CertiRocq.Tests.tests.*.c
/tests/axioms/CertiRocq.Tests.tests.*.h
/tests/axioms/glue.c
/tests/axioms/glue.h
/tests/axioms/print_lst
/tests/axioms/fibn
/tests/axioms/list_sum_int63
/tests/axioms/list_sum_int63_tinfo
/tests/ocaml/main
/tests/ocaml/mainopt
/tests/programs/CertiRocq.Tests.tests.*.c
/tests/programs/CertiRocq.Tests.tests.*.h
/tests/programs/glue_*.c
/tests/programs/glue_*.h
/tests/programs/*_opt
/tests/programs/*_opt[1-5]
/tests/wasm/CertiRocq.Tests.uint63_unit_tests.*.wasm
/tests/wasm/CertiRocq.Tests.tests.*.wasm
bootstrap/certirocqchk/glue.*
bootstrap/certirocqc/glue.*
