*.vo
*.vok
*.vos
*.v.d
*.glob
*.aux
*.out
*.html
*.cache
*.cm*
*.o
*.a
*.ml*.d
*.vok
*.vos
Makefile.coq
/libraries/Makefile
/theories/Makefile
/theories/Makefile.plugin
/theories/Extraction/*.ml
/theories/Extraction/*.mli
/theories/ExtractionVanilla/*.ml
/theories/ExtractionVanilla/*.mli
/theories/*.ml
/theories/*.mli
.coqdeps.d
.DS_Store
*.bak
Makefile.conf
Makefile.plugin.conf
/plugin/Makefile
/plugin/extraction
/cplugin/extraction
/cplugin/Makefile
theories/.coqdeps.d
libraries/.coqdeps.d
myMain.ml
myMain.mli
vs.ml
vs.mli
benchmarks/mod.py
benchmarks/demo1
benchmarks/demo2
benchmarks/CertiCoq.Benchmarks.*.c
benchmarks/CertiCoq.Benchmarks.*.h
test_plugin.*.c
test_plugin.*.h
benchmarks/config.h
benchmarks/gc.h
benchmarks/values.h
benchmarks/main.c
theories/.Makefile.d
libraries/.Makefile.d
benchmarks/vs
plugin/.Makefile.d
CertiCoq.Benchmarks.Binom.main.c
CertiCoq.Benchmarks.Binom.main.h
plugin/g_certicoq.ml
benchmarks/lib/.Makefile.d
CertiCoq.Benchmarks.lib.Binom.main.c
CertiCoq.Benchmarks.lib.Binom.main.h
glue.CertiCoq.Benchmarks.lib.Binom.main.c
glue.CertiCoq.Benchmarks.lib.Binom.main.h
benchmarks/binom_opt
benchmarks/binom_opt_ll
benchmarks/color_opt
benchmarks/color_opt_ll
benchmarks/demo1_opt
benchmarks/demo1_opt_ll
benchmarks/demo2_opt
benchmarks/demo2_opt_ll
benchmarks/list_sum_opt
benchmarks/list_sum_opt_ll
benchmarks/ocamlc_bench_1.txt
benchmarks/ocamlopt_bench_1.txt
benchmarks/sha_fast
benchmarks/sha_fast_opt
benchmarks/sha_fast_opt_ll
benchmarks/vs_easy_opt
benchmarks/vs_easy_opt_ll
benchmarks/vs_hard_opt
benchmarks/vs_hard_opt_ll
benchmarks/glue_*.c
benchmarks/glue_*.h
benchmarks/glue.CertiCoq.Benchmarks.metacoq_erasure.metacoq_erasure.c
benchmarks/glue.CertiCoq.Benchmarks.metacoq_erasure.metacoq_erasure.h
benchmarks/metacoq_erasure/CertiCoq.Benchmarks.metacoq_erasure.metacoq_erasure.metacoq_erasure.c
benchmarks/metacoq_erasure/CertiCoq.Benchmarks.metacoq_erasure.metacoq_erasure.metacoq_erasure.h
benchmarks/metacoq_erasure/g_safe_erasure.ml
benchmarks/metacoq_erasure/glue.CertiCoq.Benchmarks.metacoq_erasure.metacoq_erasure.metacoq_erasure.c
benchmarks/metacoq_erasure/glue.CertiCoq.Benchmarks.metacoq_erasure.metacoq_erasure.metacoq_erasure.h
benchmarks/metacoq_erasure/metacoq_erasure
cplugin/g_certicoq_vanilla.ml
bootstrap/certicoq_pipeline/g_certicoqc.ml
bootstrap/certicoqc/CertiCoq.CertiCoqC.compile.certicoqc.c
bootstrap/certicoqc/CertiCoq.CertiCoqC.compile.certicoqc.h
bootstrap/certicoqc/glue.CertiCoq.CertiCoqC.compile.certicoqc.c
bootstrap/certicoqc/glue.CertiCoq.CertiCoqC.compile.certicoqc.h
bootstrap/certicoqc/g_certicoqc.ml
bootstrap/certicoqchk/CertiCoq.CertiCoqCheck.compile.certicoqchk.c
bootstrap/certicoqchk/CertiCoq.CertiCoqCheck.compile.certicoqchk.h
bootstrap/certicoqchk/glue.CertiCoq.CertiCoqCheck.compile.certicoqchk.c
bootstrap/certicoqchk/glue.CertiCoq.CertiCoqCheck.compile.certicoqchk.h
bootstrap/certicoqchk/g_certicoqchk.ml
bootstrap/Makefile
bootstrap/certicoqc/tests/CertiCoq.CertiCoqC.compile.certicoqc.c
bootstrap/certicoqc/tests/CertiCoq.CertiCoqC.compile.certicoqc.h
bootstrap/certicoqc/tests/glue.CertiCoq.CertiCoqC.compile.certicoqc.c
bootstrap/certicoqc/tests/glue.CertiCoq.CertiCoqC.compile.certicoqc.h
compile.certicoqchk.ir
benchmarks/test_primitive
bootstrap/certicoqc/.Makefile.certicoqc.d
bootstrap/certicoqc/Makefile.certicoqc
bootstrap/certicoqc/Makefile.certicoqc.conf
bootstrap/certicoqc/tests/test.certicoqc*
cplugin/.Makefile.d
tests/glue.test.certicoqc.c
tests/glue.test.certicoqc.h
tests/test.certicoqc.c
tests/test.certicoqc.h
bootstrap/certicoqc/tests/glue.test.certicoqc.c
bootstrap/certicoqc/tests/glue.test.certicoqc.h
bootstrap/certicoqchk/.Makefile.certicoqchk.d
bootstrap/certicoqchk/Makefile.certicoqchk
bootstrap/certicoqchk/Makefile.certicoqchk.conf
cplugin/META
plugin/META
_opam
bootstrap/certicoqc/META
bootstrap/certicoqchk/META
bootstrap/certicoqc*/glue.c
bootstrap/certicoqc*/glue.h
plugin/.merlin
_build
.vscode/CertiCoq.code-workspace
bootstrap/certicoqc/CertiCoq.CertiCoqC.CertiCoqC.certicoqc.c
bootstrap/certicoqc/CertiCoq.CertiCoqC.CertiCoqC.certicoqc.h
bootstrap/certicoqc/tests/test.demo1.c
bootstrap/certicoqc/tests/test.demo1.h
plugin/.filestoinstall
cplugin/.merlin
