[submodule "submodules/coq-ext-lib"]
	path = submodules/coq-ext-lib
	url = https://github.com/coq-community/coq-ext-lib.git
	branch = master
[submodule "submodules/SquiggleEq"]
	path = submodules/SquiggleEq
	url = https://github.com/yforster/SquiggleEq.git
	branch = coq-8.12
[submodule "submodules/paramcoq"]
	path = submodules/paramcoq
	url = https://github.com/coq-community/paramcoq.git
	branch = v8.11
[submodule "submodules/Equations"]
	path = submodules/Equations
	url = http://github.com/mattam82/Coq-Equations
[submodule "submodules/metacoq"]
	path = submodules/metacoq
	url = https://github.com/MetaCoq/metacoq.git
