name: Test compilation

on:
  push:
    branches:
      - master
      - coq-8.15
      - coq-8.16
  pull_request:
    branches:
      - "**"
  workflow_dispatch:
    inputs:

jobs:
  build-matrix:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        opam_file:
          - 'coq-certicoq.opam'
        image:
          - 'mattam82/coq:8.17--ocaml-4.13.1--clang-11--compcert-3.12--extlib-0.11.8--equations-1.3'
      fail-fast: false  # don't stop jobs if one fails
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - uses: coq-community/docker-coq-action@v1
        with:
          custom_image: ${{ matrix.image }}
          opam_file: ${{ matrix.opam_file }}
          before_script: |
            startGroup "fix permission issues"
              sudo chown -R coq:coq .
            endGroup
            startGroup "Copy repo (for later benchmarking)"
              cp -r `pwd` ~/repo
            endGroup
            startGroup "opam pin"
              opam pin -y submodules/metacoq
            endGroup
          after_script: |
            startGroup "List installed packages"
              opam list
            endGroup
            startGroup "Run benchmarks"
              make -C ~/repo/benchmarks all
            endGroup
            startGroup "Test bootstrapped plugins"
              cd repo && ./configure.sh global
              make -C ~/repo/bootstrap test
            endGroup
