name: Test compilation

on:
  push:
    branches:
      - master
      - coq-8.14/main
  pull_request:
    branches:
      - "**"
  workflow_dispatch:
    inputs:

jobs:
  build-matrix:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        opam_file:
          - 'coq-certicoq.opam'
        image:
          - 'tcarstens/coq-vst:8.14.1-ocaml-4.12.0-flambda--compcert-3.9--vst-2.8'
      fail-fast: false  # don't stop jobs if one fails
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - uses: coq-community/docker-coq-action@v1
        with:
          custom_image: ${{ matrix.image }}
          opam_file: ${{ matrix.opam_file }}
          before_install: |
            startGroup "opam pin"
              opam pin -n -y submodules/Equations
              opam pin -n -y submodules/metacoq
              opam pin -n -y .
            endGroup
          after_install: |
            startGroup "List installed packages"
              opam list
            endGroup
            startGroup "Run benchmarks"
              cp -r benchmarks ~/benchmarks
              make -C ~/benchmarks all
            endGroup